body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 32px;
}

a {
	color: black;
}

.header {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: underline;
}

.header a {
	text-decoration: underline;
}

.nav {
	display: flex;
	flex-wrap:wrap;
	border-bottom: 4px solid black;
	border-top: 4px solid black;
}

.nav-item {
	text-align: center;
	flex: 0 0 25%;
	border-right: 2px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-item a {
	text-decoration: none;
}

.nav-item a:hover {
	text-decoration: underline;
}

.nav-item-end {
	text-align: center;
	flex: 0 0 25%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-item-end a {
	text-decoration: none;
}

.nav-item-end a:hover {
	text-decoration: underline;
}

.nav-item:hover {
	text-decoration: underline;
}

.nav-item-end:hover {
	text-decoration: underline;
}

.heading {
	padding-left: 10px;
	margin-top: 15px;
	text-decoration: underline;
}

.intro {
	margin-top: 15px;
	padding: 10px;
}

.table {
	margin-top: 20px;
	margin-bottom: 20px;
}


.row {
	font-size: 22px;
	display: flex;
	flex-wrap:wrap;
	border-top: 4px solid black;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.title {
	flex:0 0 50%;
}

.duration {
	flex:0 0 25%;
}

.source {
	flex:0 0 25%;
}

.shutter-animation {
	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	position: relative;
  	background: #e1e1e1;
  	-webkit-transition-property: color;
  	transition-property: color;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}
