body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

/*Index Homepage*/

a {
	text-decoration: none;
	color: teal;
}

a:hover {
	text-decoration: underline;
	color: cyan;
}

.index-intro {
	font-size: 25px;
	margin-bottom: 25vh;
	padding: 10px;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;
}

.index-row-header {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;
	text-decoration: underline;
}

.index-name {
	flex: 0 0 50%;
} 

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*IP Address*/

.ip {
	background-color: magenta;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	color: cyan;
	font-size: 14vw;
	text-align: center;
}

.ip-text:hover {
	text-decoration: line-through;
}

/*ip-2*/

.ip2 {
	background-color: cyan;
	height: 25vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip2-text {
	color: magenta;
	font-size: 12vw;
	text-align: center;
}

.ip2-text:hover {
	text-decoration: line-through;
}

/*Checkers*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-white {
	width: 20vw;
	height: 20vh;
	font-size: 100px;
	text-align: center;
	color: black;
	background-color: white;
}

.checkers-black {
	width: 20vw;
	height: 20vh;
	color: black;
	background-color: black;
}

/*Checkers type*/

.checkers-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	mix-blend-mode: difference;
}

.checkers-text {
	font-size: 30vw;
	color: magenta;
	border: 30px solid magenta;
	padding: 2vw;
	border-radius: 5vw;
	mix-blend-mode: difference;
}

/*Cloud Pattern*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
}

.cloud-circle {
	width: 25vw;
	height: 33.333vh;
	background-image: linear-gradient(blue, white);
	border-radius: 50%;
}

/*Chip*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chip {
	width: 60vh;
	height: 60vh;
	border: 1px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	color: gray;
	font-size: 5vw;
}

.string-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.string {
	font-family: courier;
}

.pass-container {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	overflow: hidden;
}

.pass {
	font-family: times new roman;
}

.map img {
	width: 100%;
}

.merged-cities {
	width: 100%;
	height: 100%;
}

.merged-cities img {
	max-width: 100%;
	height: auto;
}

.cloud img {
	animation: rotation 2s infinite linear;
}

.wifi-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.wifi img {
	overflow: hidden;
    animation : pulse 1s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes pulse {
    from {
        transform : scale(1);
        opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }
}