body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 32px;
	background-color: black;
	color: white;
}

/*Index Homepage*/

a {
	color: white;
	text-decoration: none;
}

.title {
	font-size: 10vh;
	text-align: center;
	margin-top: 20px;
}

.sub-title {
	margin-top: 50px;
	text-align: center;
}

.sub-title a {
	text-decoration: none;
}

.sub-title a:hover {
	color: black;
	background-color: white;
}

.header {
	font-size: 2.5vh;
	text-decoration: underline;
	margin-top: 100px;
	text-align: center;
	padding-bottom : 50px;
}

.nav {
	height: 100%;
	width: 100%;
	padding-bottom: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.nav-item a {
	color: white;
	font-size: 6vh;
	text-align: center;
}

.nav-item a:hover {
	color: black;
	background-color: white;
}

.text {
	font-size: 2vh;
	margin-left: 25vw;
	margin-right: 25vw;
	padding-top: 40px;
}

.text a {
	text-decoration: underline;
}

.text a:hover {
	background-color: white;
	color: black;
}