body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 32px;
	background-color: black;
	color: white;
}

/*Index Homepage*/

a {
	color: white;
	text-decoration: none;
}

.header {
	text-decoration: underline;
	margin-top: 50px;
	text-align: center;
	padding-bottom : 50px;
}

.nav {
	height: 100%;
	width: 100%;
	padding-bottom: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.nav-item a {
	color: white;
	font-size: 100px;
	text-align: center;
}

.nav-item a:hover {
	color: black;
	background-color: white;
}